.table {
  text-align: center;
  margin: 2rem;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 2px 4px 4px grey;
  background-color: #cff;
}

th {
  padding: 0px 2rem;
}

.no-event {
  margin: 4rem;
}
