.view-button {
  background: transparent;
  padding: 2px 6px;
  border-radius: 4px;
  border: none;
}

.pricing-text {
  margin: 4px;
  font-size: 10px;
  text-transform: uppercase;
  color: #144a79;
}

.modal {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.modal-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: absolute;
  top: 37.5vh;
  left: 37.5vw;
  width: 25vw;
  height: 25vh;
  border-radius: 8px;
}

.modal-popup-name {
  font-weight: bolder;
}

.modal-popup-image {
  height: 40px;
  width: 40px;
  border-radius: 8px;
}
